<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Prodotti Disponibili</title>
    <meta charset="UTF-8">
</head>

<body>
    <h1>Lista Prodotti</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Prezzo</th>
            <th>Azione</th>
        </tr>
        <!-- Ciclo per visualizzare i prodotti -->
        <tr th:each="prod : ${products}">
            <td th:text="${prod.id}"></td>
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.price}"></td>
            <td>
                <!-- Link per aggiungere il prodotto alla lista acquisti -->
                <a th:href="@{'/shopping-list/add/' + ${prod.id}}">Aggiungi alla lista</a>
            </td>
        </tr>
    </table>
    <a th:href="@{/shopping-list}">Visualizza Lista Acquisti</a>
</body>

<form th:action="@{/auth/logout}" method="post">
    <button type="submit">Logout</button>
</form>

</html>