<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>La Tua Lista Acquisti</title>
    <meta charset="UTF-8">
</head>

<body>
    <div style="text-align: center;">

        <h1>Lista Acquisti</h1>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Prodotto</th>
            </tr>
            <!-- Ciclo per visualizzare gli item della lista acquisti -->
            <tr th:each="item : ${shoppingList}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.product.name}"></td>
            </tr>
        </table>
        <a th:href="@{/products}">Torna alla Lista Prodotti</a>
    </div>
</body>

</html>